.root {
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(10, 10, 15, 0.7);
  backdrop-filter: blur(12px);
  border-top: 1px solid hsla(0, 0%, 100%, 0.03);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
  padding-block: rem(12px);
  z-index: 100;
}
