.root {
  display: grid;
  gap: rem(5px);
}

.item {
  display: block;
  width: 100%;
  padding: rem(15px);
  background: rgba(10, 10, 15, 0.4);
  font-size: rem(21px);
  color: $text-primary;
  text-align: left;
  backdrop-filter: blur(12px);
  box-shadow: 0 rem(8px) rem(32px) rgba(0, 0, 0, 0.12);
  border-radius: rem(10px);
  transition: box-shadow 0.3s ease, transform 0.2s ease;

  &:hover {
    box-shadow: 0 0 rem(30px) rgba(5, 5, 10, 0.3);
    transform: translateY(rem(-2px));
  }
  &:active {
    transform: translateY(0);
  }
}

.content {
  padding-left: rem(30px);
  overflow: hidden;

  .item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &[data-state='open'] {
    animation: slideDown 200ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state='closed'] {
    animation: slideUp 200ms cubic-bezier(0.87, 0, 0.13, 1);
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
