*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: $text-primary $bg-primary;
}

#root,
html,
body {
  height: 100%;
}

html,
body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: $font-size-default;
  font-weight: 400;
  line-height: 1.5;
  color: $text-primary;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $bg-primary;
  background-image: linear-gradient(hsla(0, 0%, 100%, 0.03) 1px, transparent 0),
    linear-gradient(90deg, hsla(0, 0%, 100%, 0.03) 1px, transparent 0);
  background-size: 50px 50px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  outline: none;
  border: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
